.pricing-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    align-items: center;
}

.pricing-plan {
    background-color: rgb(243, 243, 243);
    text-align: center;
    flex-basis: 300px;
    padding: 1em;
    margin: 0 1em;
    flex-shrink: 0;
    border-radius: 1em;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
}

.plan-title {
    font-family: 'Sono';
    font-weight: bold;
}

.plan-price {
    font-family: 'Sono';
    font-weight: bolder;
    font-size: 2.3em;
}

.plan-features > li {
    font-family: 'Sono';
    font-weight: 200;
    margin: 1em;
}

.plan-button {
    font-family: 'Sono';
    font-weight: 400;
    background-color: darkorange;
    border: 0;
    padding: 0.9em;
    color: white;
    border-radius: 0.5em;
}
.plan-button:hover {background-color: rgb(200, 110, 0)}


@media (max-width: 1250px) {
    .pricing-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        align-items: center;
    }
    
    .pricing-plan {
        background-color: rgb(243, 243, 243);
        text-align: center;
        flex-basis: 300px;
        padding: 1em;
        padding-bottom: 0;
        padding-top: 3em;
        margin: 1em 0;
        flex-shrink: 1;
        border-radius: 1em;
    }
    
    li {
        list-style-type: none;
    }
    
    ul {
        padding: 0;
    }
    
    .plan-title {
        font-family: 'Sono';
        font-weight: bold;
    }
    
    .plan-price {
        font-family: 'Sono';
        font-weight: bolder;
        font-size: 2.3em;
    }
    
    .plan-features > li {
        font-family: 'Sono';
        font-weight: 200;
        margin: 1em;
    }
    
    .plan-button {
        font-family: 'Sono';
        font-weight: 400;
        background-color: darkorange;
        border: 0;
        padding: 0.9em;
        color: white;
        border-radius: 0.5em;
    }


}